<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reposteria Margalin</title>
    <link rel="icon" type="image/png" href="./static/images/pastelicono.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <style>
      .navbar-custom {
        background: #77dd77;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
      <a class="navbar-brand ml-3 text-dark" href="/" style="font-size: 30px"
        ><img
          src="./static/images/pastelicono.png"
          width="45"
          height="45"
          class="d-inline-block align-top mr-3"
          alt="pastel"
        />Reposteria Margalin</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/sucursales">Sucursales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

    {%block content %} {%endblock %}

    <footer class="bg-light text-center text-lg-start fixed-bottom">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Reposteria Margalin
      </div>
    </footer>
  </body>
</html>
