{%extends './admin_template.html'%} {%block button %}
<li class="nav-item" style="margin-left: 20%; margin-top: 5px">
  <a class="btn btn-danger" href="/" role="button">Logout</a>
</li>
{%endblock%} {%block admin_panel%}
<h1 style="text-align: center; margin-top: 2%">Eliminar un Producto</h1>
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 15%;">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle text-dark"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      style="background-color: #77dd77;"
    >
      Selecciona el producto a eliminar
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for row in rows %}
      <a class="dropdown-item" href="/eliminar/{{row[0]}}"
        >Codigo: {{row[0]}} | Producto: {{row[1]}}</a
      >
      {% endfor %}
    </div>
  </div>
</div>

{%endblock%}
